<section class="p-resumir">
    <section class="resumir-codigo" id="resumir-codigo-js">
        <textarea class="codigo-area"></textarea>
        <section class="codigo-botones">
            <button>Procesar</button>
            <button>Guardar</button>
            <!-- <button ng-click="intercambiar()">Cambiar</button> -->
        </section>
    </section>
    <section class="resumir-resultado" id="resumir-resultado-js">
        <div>
            <!-- Contenido procesado -->
        </div>
    </section>
    <button ng-click="intercambiar()" class="boton-cambiar"><</button>
</section>